<div class="container-fluid meuContainer">
  <div class="col-12">
    <div class="row px-3 cards">
      <div class="card col-sm-12 col-md-3">
        <div class="card-body">
          <h5 class="card-title">Cadastro da Oferta</h5>
          <p class="card-text">
            Nessa seção serão cadastradas as ofertas que aparecerão para os alunos se matricularem.
          </p>
        </div>
      </div>
      <div class="card col-sm-12 col-md-3">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Disciplina</h5>
          <p class="card-text">
            Cadastro de Modalidades e seus respectivos professores.
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-3">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Alunos</h5>
          <p class="card-text">
            Sessão onde será inserido um arquivo XLS para importação dos alunos.
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3">
    <div class="row px-3 cards">
      <div class="card col-sm-12 col-md-5">
        <div class="card-body">
          <h5 class="card-title">Gestão de Alunos Matriculados</h5>
          <p class="card-text">
            Listagem de todas as modalidades e a sua quantidade de alunos matriculados.
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-5">
        <div class="card-body">
          <h5 class="card-title">Gestão de Matrículas por Disciplina</h5>
          <p class="card-text">
            Listagem de alunos matriculados em uma disciplina e opções de gerenciamento e exclusão da matrícula.
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </div>
  </div>
</div>
