.meuContainer {
  width: 100%;
  height: 100%;
  background-color: #eeed !important;
  display: flex;
}
.conteudo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
