<div class="container-fluid meuContainer">
  <div class="row px-3 cards">
    <div class="card col-sm-12 col-md-3">
      <div class="card-body">
        <h5 class="card-title">Cadastro da Oferta</h5>
        <p class="card-text">
          Nessa seção serão cadastradas as ofertas que aparecerão para os alunos se matricularem.
        </p>
      </div>
    </div>
    <div class="card col-sm-12 col-md-3">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Disciplina</h5>
        <p class="card-text">
          Cadastro de Modalidades e seus respectivos professores.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
    <div class="card col-sm-12 col-md-3">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
    <div class="card col-sm-12 col-md-3">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
    <div class="card col-sm-12 col-md-3">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
  </div>
</div>
