<div class="sidebar">
  <a routerLink="/cadastro-oferta" routerLinkActive="active">
    <button mat-button class="text-left menu1">Cadastro da Oferta</button>
  </a>
  <a routerLink="/cadastro-disciplina" routerLinkActive="active">
    <button mat-button class="text-left menu2">Cadastro de Disciplina</button>
  </a>
  <a routerLink="/cadastro-alunos" routerLinkActive="active">
    <button mat-button class="text-left menu3">Cadastro de Alunos</button>
  </a>
  <a routerLink="/gestao-matriculas" routerLinkActive="active">
    <button mat-button class="text-left menu1">Gestão de Alunos Matriculados</button>
  </a>
  <a routerLink="/gestao-matriculas-disciplina" routerLinkActive="active">
    <button mat-button class="text-left menu2">Gestão de Matrículas por Disciplina</button>
  </a>
  <a routerLink="/sair" routerLinkActive="active">
    <button mat-button class="text-left menu3">Sair</button>
  </a>
</div>
